* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.main_header {
  width: 100%;
  background-color: #282c34;
  padding: 20px;
}

.main_header .main_header_content {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
}

.main_header .main_header_content .main_header_content_menu {
  display: flex;
  flex-basis: calc(100% - 300px);
  justify-content: flex-end;
}

.main_header .main_header_content .main_header_content_menu ul {
  display: flex;
}

.main_header .main_header_content .main_header_content_menu ul li {
  display: flex;
  align-items: center;
}

.main_header .main_header_content .main_header_content_menu ul li a {
  padding: 10px 15px;
  display: flex;
  color: #fff;
  align-items: center;
}

.main_header .main_header_content .main_header_content_menu ul li a:hover {
  background-color: #8257e5;
  border-radius: 4px;
  transition: ease-in 0.4s;
}

/*CTA*/

.main_cta {
  width: 100%;
  background-color: #282c34;
}

.main_cta .main_cta_content {
  max-width: 1300px;
  margin: 0 auto;
  background-color: #282c34;
}

.main_cta .main_cta_content h1 {
  font-size: 3em;
  text-align: center;
  color: #fff;
}

.main_cta .main_cta_content p {
  font-size: 1em;
  text-align: center;
  margin: 20px 0;
  color: #fff;
}

.main_cta .main_cta_content .btn {
  background-color: #8257e5;
  color: #fff;
  font-size: 0.8em;
  padding: 10px 40px;
  border-radius: 5px;
}

.main_cta .main_cta_content .btn:hover {
  background-color: purple;
  transition: ease 0.3s;
}

.main_cta .main_cta_content .main_cta_content_spacer {
  margin: 0 auto;
  max-width: 1300px;
  padding: 50px 40px;
}
